.Button {
  text-decoration:none;
  color:green;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.btn:hover {
  color: #9555af;
  border-color: currentColor;
  background-color: white;
}
.btn:hover,
.btn:focus {
  color: #9555af;
  border-color: currentColor;
  background-color: white;
}

.section_center {
  align-items: center;
  text-align: center;
  margin-left:10%;
  margin-right: 10%;
}

#Title {
  color:green;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.App{
    background-color: #282c34;
}

#Title {
  color: cyan;
}
